<% if flash[:notice] %>
   <div class="flash notice">
	<span class=alert> 
		<%= flash[:notice] %> 
	</span>
   </div>
 <% end %>
<br>
<br>
<a href="/signin">Login</a>
<br>
<a href="/signout">SignOut</a>
<br>
<a href="/signup">New Users Signup</a>
<br>
