<!-- index.erb -->
<!-- body tag starts -->
<span id="lbox">
	<a href="/signin">
		Log In
	</a>
</span>
<div id="lbox">
	<a href="/signup">
		New Users Signup
	</a>
</div>
<div id="lbox">
	<a href="/signout">
		Sign Out
	</a>
</div>
<br>
