<!DOCTYPE html>
<html>
<head>
	<title>
		Sinatra Microblog
	</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>gossip column</h1>
	<h2>all the nonsense you WISH you never overheard</h2>
	<br>
	<br>

	<%=yield%>

</body>
</html>