<!DOCTYPE html>
<html>
<head>
	<title>
		Sinatra Microblog
	</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<div id="wrapper">
		<h1>santa's bad list</h1>
		<h2>all the xmas fluff you WISH you could forget</h2>
		<hr align="left" width="75%">
		<br>
<% if flash[:notice] %>
	<div class="flash notice">
		<span class=alert> 
			<%= flash[:notice] %> 
		</span>
	</div>
<% end %>
<!--********* HEADER ABOVE  ****************-->
		<%=yield%>
<!--********* CLOSING BELOW  ***************-->
<br>
</div> <!--close wrapper-->
</body>
</html>
