<% if flash[:notice] %>
<div class="flash notice">
	<span class=alert> <%= flash[:notice] %> </span>
</div>
<% end %>
<h3>welcome back</h3>
<br>
<h3>name </h3><%= @user.username %>
<br>
<h3>created at </h3><%= @user.created_at %>
<br>
<br>
<%= current_user %>
<br>
<a href="signout">SignOut</a>
<br>

