<!-- profile.erb -->
<!-- body tag starts -->
<div id="bbox">
	<h3>welcome back</h3>
	<h3><%= "Name:   #{@user.username}" %></h3>
	<h3><%= "Account created: #{@user.created_at}" %></h3>
</div><!-- close bbox -->
<br>
<div id="lbox">
	<a href="/makepost">
		Spill it!
	</a>
</div>
<div id="lbox">
	<a href="/postlist">
		Drama List
	</a>
</div>

<div id="lbox">
	<a href="/signout">
		Sign Out
	</a>
</div>

