<!-- signup.erb -->
<!-- body tag starts -->
<div id="bbox">
<h3>Sign Up to Gossip Here</h3>
<br>
<form action="/signup" method="POST">
	<label>Your Name</label>
	<input name="username" type="text"></input>
	<br>
	<br>
	<label>Password</label>
	<input name="password" type="password"></input>
	<br>
	<br>
	<input type="submit" value="submit"></input>
</form>
</div><!-- close bbox (big box) -->
<br>
<span id="lbox">
	<a href="/signin">
		Log In
	</a>
</span>

<div id="lbox">
	<a href="/signout">
		Sign Out
	</a>
</div>
<br>
